/* Pseudo-clases */
/* Variables */
:root {
  --main-color: #e7eaf6;
  --primary-color: #a2a8d3;
  --secondary-color: #38598b;
  --terciary-color: #113f67;
  --bg-color: #393e46;
  --bg-color-2: #222831;
  --btn-color: #233142;
  --btn-bg-color: #fcfefe;
  --font-size-text: ;
  --font-color: #233142;
  --font-weight: 700;
}

/* Universal Selector */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

/* Removes list styles (bullets/numbers) */
ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* Navbar */
header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
}

header .navbar-contenedor {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 5rem;
}

header .navbar-contenedor .logo {
  font-size: 2rem;
  color: var(--font-color);
  font-weight: var(--font-weight);
}

header .navbar-contenedor nav ul{
  align-items: center;
  display: flex;
  gap: 1rem;
}

.navbar-links {
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  color: var(--font-color);
}

.activo {
  background-color: red;
  color: var(--main-color);
  border-radius: 0.4rem;
  transition: 0.5s;
}

header .navbar-contenedor :is(.abrir-icon-bar, .cierre-icon) {
  cursor: pointer;
  display: none;
  font-size: 1.5rem;
}

header .navbar-contenedor .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  inset: 0;
  position: fixed;
  z-index: 2;
}

header .navbar-contenedor .overlay.activo {
  display: flex;
}

/* Media Queries */
@media (width <= 768px) {
  header .navbar-contenedor nav {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    height: 100vh;
    padding-top: 6rem;
    position: fixed;
    right: -100%;
    top: 0;
    transition: right 0.5s;
    width: 300px;
    z-index: 3;
  }
  header .navbar-contenedor nav ul {
    flex-direction: column;
    gap: 2rem;
  }
  header .navbar-contenedor nav.activo {
    right: 0;
  }
  header .navbar-contenedor :is(.abrir-icon-bar, .cierre-icon) {
    display: flex;
  }
  header .navbar-contenedor .cierre-icon {
    left: 2rem;
    position: absolute;
    top: 2rem;
    color: black;
  }
}


/* Hero Section */
.hero-img {
  background-attachment: fixed;
  background-image: url(https://images.unsplash.com/photo-1554595666-19ceabf46a84?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10rem 0;
  display: flex;
}

.banner-contenedor {
  max-width: 75%;
  margin: 0 auto;
  padding: 0 2.5rem;
}

.titulo-primario{
  margin-bottom: 0.5rem;
  color: #ff8001;
  font-family:'Quicksand',sans-serif;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.titulo-secundario{
  margin-bottom: 0.5rem;
  color: white;
  font-family: 'Quicksand',sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.introduccion{
  margin: 1.5rem 0;
 color: #ffffffb3;
 font-family: 'Quicksand',sans-serif;
 font-size: 1rem;
 line-height: 1.5;
}

.btn{
  background-color: red;
  color: var(--main-color);
  border-radius: 5px;
  border: 0;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 12px 17px;
  transition: 0.5s;
  cursor: pointer;
}
